/* form .card-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
  }
 .card-area button {
    margin: 1rem;
    color: #000000;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 200px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 1px 2px rgb(255, 255, 255);
    transition: 0.3s ease;
    font-family: "Nunito", sans-serif;
  }
  .card-area button:hover {
    background: rgb(126, 31, 204);
  }
  .card-area span {
    font-size: 17px;
    padding: 1rem;
    display: none;
  }
  .card-area button i {
    top: 6px;
    left: 2px;
    font-size: 1.5rem;
    transition: 0.3s;
    color: #000000;
  } */